<p class="home" >This page is for viewing and adding new skins to the database
    
    </p>


<table class="tablestyling" id="skintable">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.skin_id}}</td>
            <td>{{this.skin_name}}</td>
            <td>{{this.gun_id}}</td>
            
        </tr>
        {{/each}}
    </tbody>
</table>

<form id="search-skin-html" method='GET' action='/skins' class="title">
    <label for="input-sname">Search by Skin Name: </label>
    <input type="text" name="skin_name" id="input-skinname-search">
    <input type="submit" class="button">
    <a href='/skins' ><button class="button">Reset</button></a>
</form>

<form id="add-skins-form-ajax" class="title">
<h2>Add Skin</h2>
    <label for="input-skinname">Skin Name: </label>
    <input type="text" name="input-skinname" id="input-skinname">

    <label for="input-gunid">Gun ID: </label>
    <input type="number" name="input-gunid" id="input-gunid">
   

    <input class="button" type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_skin.js"></script>
    