    <p class="home" >This page is for viewing, adding, and removing the composite entity skins and guns to the database
      
      </p>
  
      
      <table>
          <tr>
            <th>skin_id</th>
            <th>gun_id</th>
          </tr>
          <tr>
            <td>1515151</td>
            <td>1515151</td>
            <td><input type ="button" value="Delete" class="delete" onclick="delete_row"></td>
          </tr>
          <tr>
            <td>2324335</td>
            <td>2324335</td>
            <td><input type ="button" value="Delete" class="delete" onclick="delete_row"></td>
          </tr>
        </table>
  
      <div class="title"> 
          <div>Search Gun</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Enter skin_id.." title="Type in a category">
      </div>
  
      <button class="button">Submit</button>
  
      
      <div class="title"> 
          <div>Add Gun</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="skin_id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="gun_id.." title="Type in a category">
  
      </div>
  
      <button class="button">Submit</button>
  
      <div class="title"> 
          <div>Update Gun</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="skin_id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="gun_id.." title="Type in a category">
  
      </div>
  
      <button class="button">Submit</button>