 <p class="home" >This page is for viewing, adding, and removing new guns to the database
    
    </p>

    
    <table>
        <tr>
          <th>gun_id</th>
          <th>gun_name</th>
        </tr>
        <tr>
          <td>1515151</td>
          <td>AK-47</td>
        </tr>
        <tr>
          <td>2324335</td>
          <td>M4A4</td>
  
        </tr>
      </table>

    <div class="title"> 
        <div>Search Gun</div>
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Enter id.." title="Type in a category">
    </div>

    <button class="button">Submit</button>

    
    <div class="title"> 
        <div>Add Gun</div>
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="id.." title="Type in a category">
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="name.." title="Type in a category">

    </div>

    <button class="button">Submit</button>

    <div class="title"> 
        <div>Update Gun</div>
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="id.." title="Type in a category">
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="name.." title="Type in a category">

    </div>

    <button class="button">Submit</button>