  <h1 class="site-title" id="first"><a href="index.html">Welcome to the CSGO Skins Marketplace Management System!</a></h1>


    <p class="home" >This site will allow you to manage your players, skins, orders, stickers, and guns.
    
    </p>

    
    
    <p class="home">Our state of the art database management will make sure your business needs are always fulfilled.
    
    </p>