 <p class="home" >This page is for viewing and adding new orders to the database
      
      </p>
  
      
      <table id="tablestyling">
          <tr>
            <th>order_id</th>
            <th>player_id</th>
            <th>skin_id</th>
            <th>sticker_id</th>
            <th>order_date</th>
            <th>total_price</th>
            <th></th>
          </tr>
          <tr>
            <td>1</td>
            <td>1515151</td>
            <td>1515151</td>
            <td>1515151</td>
            <td>3-17-2021</td>
            <td>150</td>
            <td><input type ="button" value="Delete" class="button-del" onclick="delete_row"></td>
          </tr>
          <tr>
            <td>2</td>
            <td>2324335</td>
            <td>2324335</td>
            <td>2324335</td>
            <td>7-16-2021</td>
            <td>200</td>
            <td><input type ="button" value="Delete" class="button-del" onclick="delete_row"></td>
          </tr>
        </table>
  
      <div class="title"> 
          <div>Search Order</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Enter id.." title="Type in a category">
  
      </div>
  
      <button class="button">Submit</button>
  
      
      <div class="title"> 
          <div>Add Skin</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="player_id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="skin_id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="sticker_id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="date.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="price.." title="Type in a category">
      </div>
  
      <button class="button">Submit</button>
  
      <div class="title"> 
          <div>Update Order</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="player_id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="skin_id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="sticker_id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="date.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="price.." title="Type in a category">
      </div>
  
      <button class="button">Submit</button>
  