<p class="home" >This page is for viewing, adding, and removing the skin details to the database
      
      </p>
  
      
      <table>
          <tr>
            <th>skin_name</th>
            <th>skin_price</th>
          </tr>
          <tr>
            <td>Asiimov</td>
            <td>150</td>
          </tr>
          <tr>
            <td>Hyper Beast</td>
            <td>200</td>
          </tr>
        </table>
  
      <div class="title"> 
          <div>Search Skin</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Enter name.." title="Type in a category">
      </div>
  
      <button class="button">Submit</button>
  
      
      <div class="title"> 
          <div>Add Skin Details</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="skin_name.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="skin_price.." title="Type in a category">
  
      </div>
  
      <button class="button">Submit</button>
  
      <div class="title"> 
          <div>Update Skin Details</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="skin_name.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="skin_price.." title="Type in a category">
  
      </div>
  
      <button class="button">Submit</button>