<p class="home" >This page is for viewing, adding, and removing new skins to the database
    
    </p>

    
    <table id="tablestyling">
        <tr>
          <th>skin_id</th>
          <th>skin_name</th>
          <th>gun_id</th>
        </tr>
        <tr>
          <td>1515151</td>
          <td>Asiimov</td>
          <td>1515151</td>
        </tr>
        <tr>
          <td>2324335</td>
          <td>Hyper Beast</td>
          <td>2324335</td>
        </tr>
      </table>

    <div class="title"> 
        <div>Search Skin</div>
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Enter id.." title="Type in a category">
    </div>

    <button class="button">Submit</button>

    
    <div class="title"> 
        <div>Add Skin</div>
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="id.." title="Type in a category">
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="name.." title="Type in a category">
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="gun_id.." title="Type in a category">
    </div>

    <button class="button">Submit</button>

    <div class="title"> 
        <div>Update Skin</div>
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="id.." title="Type in a category">
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="name.." title="Type in a category">
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="gun_id.." title="Type in a category">
    </div>

    <button class="button">Submit</button> 
