 <p class="home" >This page is for viewing, adding, and removing new stickers to the database
      
      </p>
  
      
      <table>
          <tr>
            <th>sticker_id</th>
            <th>sticker_name</th>
          </tr>
          <tr>
            <td>1515151</td>
            <td>Navi Holo</td>
          </tr>
          <tr>
            <td>2324335</td>
            <td>Titan Holo</td>
          </tr>
        </table>
  
      <div class="title"> 
          <div>Search Sticker</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Enter id.." title="Type in a category">
      </div>
  
      <button class="button">Submit</button>
  
      
      <div class="title"> 
          <div>Add Sticker</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="name.." title="Type in a category">
      </div>
  
      <button class="button">Submit</button>
  
      <div class="title"> 
          <div>Update Sticker</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="name.." title="Type in a category">
      </div>
  
      <button class="button">Submit</button>
